{{!-- display single post --}}
<a href="/post/{{id}}">
  <article>
    <div>
      <h2>{{title}}</h2>
      by {{Pet.pet_name}} on {{format_date created_at}}
    </div>
    <div>
      <p>{{post_content}}</p>
    </div>
  </article>
</a>